body .teste {
    background-image: url("./components/simpleQuiz/mathWallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;

}

.teste .bg {
    background-color: white;
    z-index: 2222;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    position: absolute;
}