@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Raleway', sans-serif;

    opacity: 1;
}

.container {
    opacity: 1;
    position: absolute;
    color: white;
    z-index: 999999;

}

.homePage {
    z-index: 9999999;


}